.button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: opacity 0.2s, background-color 0.2s;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Стили для вариантов */
.primary {
  background-color: #4caf50;
}
.primary:hover:not(:disabled) {
  background-color: #45a049;
}
.secondary {
  background-color: #6c757d;
}
.danger {
  background-color: #dc3545;
}