.wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafa;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Контейнер всегда в высоту экрана */
  flex: 1;
}

.content {
  flex: 1; /* Этот блок "съест" всё свободное место, вытолкнув футер вниз */
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
}