.container {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 500;
  margin-bottom: 8px;
}

.required {
  color: red;
  margin-left: 4px;
}

.inputField {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}


.inputField:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
}